/* Certificates section styles */

/* #certificates {} */

.certificate-entries {
    max-inline-size: 100%;
}

.certificate-entry {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .25rem 0;
}

.certificate-entry::before {
    content: '\e904';
    font-family: 'icomoon';
    position: absolute;
    top: 50%;
    left: -.4375rem;
    transform: translate(-100%, -50%) rotate(-20deg);
    transition: opacity .33s ease;
    opacity: 0;
}

.certificate-entry:not(:last-of-type) {
    margin-block-end: 1.2rem;
}

.certificate-entry-title {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.certificate-entry-date {
    color: #000;
    font-weight: 400;
    font-style: italic;

    margin-inline-start: .5rem;
}

.certificate-entry-date::before {
    content: '(';
}

.certificate-entry-date::after {
    content: ')';
}

.certificate-entry-link {
    flex-basis: 100%;
    font-size: .9375rem;
    font-weight: 400;
}

@media screen and (hover: hover) {

    .certificate-entry:has(.certificate-entry-link:hover)::before {
        opacity: .35;
    }
}