/* Global styles */
/*---------------------------------------*/
html {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}

body {
    background-color: #313b47;
    color: #fff;

    margin: 2rem;
}

a {
    color: #28b4a3;
    text-decoration: none;
}

.row {
    max-inline-size: 1180px;
    margin: 0 auto;
}

.main {
    background-color: #fff;
    color: #000;

    padding: 2rem 3rem;
}

.cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}


.col {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}

.section-title {
    color: #28b4a3;

    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;

    display: inline-block;

    padding-block-end: .2rem;
    margin-block-end: 1.5rem;
    border-bottom: .25rem solid #28b4a3;
}

@media screen and (hover: hover) {

    a:hover {
        text-decoration: underline;
    }
}