*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-block-size: 100vh;
    line-height: 1;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
}

img,
picture,
svg,
video,
iframe {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
}